
<div>
	<div class="wrap">
	  <div class="mat-div">
	    <label class="mat-label">First Input</label>
	    <input type="text" class="mat-input" id="first-name">
	  </div>
	  
	    <div class="mat-div">
	    <label for="first-name" class="mat-label">Second Input</label>
	    <input type="text" class="mat-input" id="last-name">
	  </div>

	    <div class="mat-div">
	    <label for="address" class="mat-label">Last Input</label>
	    <input type="text" class="mat-input" id="address">
	  </div>
	  <h2></h2>
	  <a class="button"><h2 class="text-center">Submit</h2></a>
	</div>
</div>